# Игнорировать все файлы .log
*.log

# Игнорировать все папки node_modules
node_modules/

# Игнорировать временные файлы редакторов
*.swp
*.swo

# Игнорировать файлы конфигурации среды разработки
.env

